<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.rjgc.GymSys.mapper.eq.EqCompensateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team.rjgc.GymSys.entity.eq.EqCompensate">
        <id column="compensate_id" property="compensateId" />
        <result column="eq_id" property="eqId" />
        <result column="compensate_price" property="compensatePrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        compensate_id, eq_id, compensate_price
    </sql>

</mapper>
