<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.rjgc.GymSys.mapper.eq.EqInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team.rjgc.GymSys.entity.eq.EqInfo">
        <id column="eq_id" property="eqId" />
        <result column="eq_name" property="eqName" />
        <result column="eq_total_number" property="eqTotalNumber" />
        <result column="eq_used_number" property="eqUsedNumber" />
        <result column="eq_price" property="eqPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        eq_id, eq_name, eq_total_number, eq_used_number, eq_price
    </sql>

</mapper>
