<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.rjgc.GymSys.mapper.eq.EqOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team.rjgc.GymSys.entity.eq.EqOrder">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="order_price" property="orderPrice" />
        <result column="order_type" property="orderType" />
        <result column="order_create_time" property="orderCreateTime" />
        <result column="order_begin_time" property="orderBeginTime" />
        <result column="order_end_time" property="orderEndTime" />
        <result column="order_status" property="orderStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, order_price, order_type,order_create_time, order_begin_time, order_end_time, order_status
    </sql>

    <select id="getNegativePrice" resultType="java.math.BigDecimal">
        select order_price
        from eq_order
        where order_type in (2,3)
    </select>

    <select id="getPositivePrice" resultType="java.math.BigDecimal">
        select order_price
        from eq_order
        where order_status = "购置完成" and order_type = 1
    </select>

</mapper>
